@import "variables";
@import "typography";
@import "components/grid/grid";

#sideBar {
  z-index: 1000;
  paper-toolbar {
    &.user {
      background-image: url("/assets/images/sideBar/bg.jpg");
      background-attachment: fixed;
      background-size: cover;
      background-position: center center;
      background-color: transparent;
      height: 136px;
      .top {
        width: 100%;
        height: 48px;
        padding: 16px 0 8px 0;
        .avatar {
          height: 48px;
          width: 48px;
          border-radius: 50%;
        }
      }
      .bottom {
        height: 56px;
        padding: 0 0 8px 0;
        @include flex(column, center, flex-start);
        .username {
          @extend .paper-font-body2;
        }
        .email {
          @extend .paper-font-body1;
        }
      }
    }

    &:not(.user) {
      background-color: $primary-color-500;
      @extend .paper-font-title;
    }
  }

  .content {
    .divider {
      margin: 8px 0;
    }
    .subheader {
      @extend .paper-font-subhead;
    }
    padding: 16px 0 0 0;
    .no-user {
      @extend .paper-font-body2;
      text-align: center;
    }
    paper-menu {
      padding: 0;
      paper-item {
        cursor: pointer;
        position: relative;
        @extend .paper-font-body2;
        @include flex(row, none, none);
        a {
          flex: 1;
        }
        &.iron-selected {
          color: $primary-color-500;
          i {
            color: $primary-color-500;
          }
        }
      }
      i {
        font-size: 20px;
        @extend .paper-color-secondary;
        width: 56px;
        height: 48px;
        line-height: 48px;
      }
      .sublist {
        paper-item {
          padding: 0 16px 0 32px;
        }
      }
    }
  }
}