// Variables

// Colors

$primary-color-500: #3F51B5;
$primary-color-700: #303F9F;
$primary-color-100: #C5CAE9;


// Text Colors

$paper-color-text: rgba(0,0,0, .87);
$paper-color-secondary: rgba(0,0,0, .54);
$paper-color-disabled: rgba(0,0,0, .38);
$paper-color-divider: rgba(0,0,0, .12);
