<template name="navbar">
	<div class="middle">
		<paper-icon-button paper-drawer-toggle icon="menu"></paper-icon-button>
		<div>{{{breadcrumb}}}</div>
		<div class="actions">
			<i class="mdi mdi-magnify" data-action="toggleSearch">
				<paper-ripple class="circle" center></paper-ripple>
			</i>
			<i class="mdi mdi-dots-vertical">
				<paper-ripple class="circle" center></paper-ripple>
			</i>
		</div>
	</div>

	<div class="bottom" id="search">
		<i class="mdi mdi-arrow-left" data-action="toggleSearch"></i>
		<input placeholder="Search">
	</div>

</template>