<template name="sideBar">
	{{#if currentUser}}
	<paper-toolbar class="user">
		<div class="top">
			<img class="avatar" src="{{currentUser.services.github.avatar}}">
		</div>
		<div class="bottom">
			<div class="username">{{currentUser.services.github.name}}</div>
			<div class="email">{{currentUser.services.github.email}}</div>
		</div>
	</paper-toolbar>
	{{else}}
	<paper-toolbar>
		<a href="{{forumConfig.sideBar.link}}">{{forumConfig.sideBar.title}}</a>
	</paper-toolbar>
	{{/if}}
	<div class="content">
		<paper-menu>
			<paper-item class="subheader" disabled>Forums</paper-item>
			{{#each forum}}
				<paper-submenu>
					<paper-item class="menu-trigger" data-route="forum">
						<i class="mdi mdi-{{icon}}"></i>{{name}}
						<paper-ripple></paper-ripple>
					</paper-item>
					<paper-menu class="menu-content sublist">
						{{#each subForum}}
							<paper-item data-route="subForum">
								<a>
									<i class="mdi mdi-{{icon}}"></i>{{name}}
								</a>
								<paper-ripple></paper-ripple>
							</paper-item>
						{{/each}}
					</paper-menu>
				</paper-submenu>
			{{/each}}
			{{#if userCan 'canSeeForumEditPage'}}
			<paper-item data-route="editForum">
				<i class="mdi mdi-settings"></i>
				Edit Forum
				<paper-ripple></paper-ripple>
			</paper-item>
			{{/if}}

			{{#transition in="fadeInDown:500" out="fadeOutUp:500"}}
			<div class="divider"></div>
			{{#if currentUser}}
				<paper-item data-route="settings">
					<i class="mdi mdi-settings"></i>Settings
					<paper-ripple></paper-ripple>
				</paper-item>

				<paper-item data-action="logout">
					<i class="mdi mdi-exit-to-app"></i>Log out
					<paper-ripple></paper-ripple>
				</paper-item>

				<paper-item data-route="help">
					<i class="mdi mdi-help-circle"></i>Help & Feedback
					<paper-ripple></paper-ripple>
				</paper-item>
			{{else}}
				<div class="no-user">
					Please log in
				</div>
			{{/if}}
			{{/transition}}
		</paper-menu>
	</div>
</template>